.customColor {
    background: #080808 !important;
    color: rgb(255, 255, 255) !important;
}

body {
    background: whitesmoke !important;
}
.form-group{
    margin-top: 5px !important;
}

input[type="file"] {
    display: none !important;
}
.custom-file-upload {
    cursor: pointer !important;
}